beautifulsoup4==4.12.2
blinker==1.6.2
bs4==0.0.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cryptography==41.0.1
docusign-esign==3.23.0
Flask==2.3.2
fpdf==1.7.2
freetype-py==2.3.0
idna==3.4
insta-scraper==1.1.7
instaloader==4.9.6
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
nose==1.3.7
pdfrw==0.4
Pillow==9.5.0
pycairo==1.23.0
pycparser==2.21
PyJWT==2.7.0
PyPDF2==3.0.1
python-dateutil==2.8.2
reportlab==4.0.0
requests==2.31.0
rlPyCairo==0.2.0
six==1.16.0
soupsieve==2.4.1
urllib3==2.0.2
Werkzeug==2.3.4
wget==3.2
gunicorn
